:global(.note) {
  background-color: #6F9;
  box-shadow: 2px 5px 5px gray;
  margin: 5px;
  position: absolute;
}

:global(.noteTitle) {
  width: 100%;
  height: 24px;
  background-color: #3F6;
}

:global(.noteContent) {
  width: 100%;
  padding: 5px;
  bottom: 0px;
  top: 25px;
  overflow: auto;
  position: absolute;
  outline: none;
}

:global(.delIcon) {
  display: block;
  float: right;
  padding: 2px 2px 0 0;
  width: 24px;
  height: 24px;
}
:global(.drag) {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
}

:global(body .note:nth-child(even)) {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}
:global(body .note:nth-child(odd)) {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
/*:global(body .note:nth-child(3n)) {*/
    /*-webkit-transform: rotate(1deg);*/
    /*-moz-transform: rotate(1deg);*/
    /*-o-transform: rotate(1deg);*/
    /*-ms-transform: rotate(1deg);*/
    /*transform: rotate(1deg);*/
/*}*/
:global(body .note:hover) {
    -webkit-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 10;
    background-color: #6C6;
}
